{% load staticfiles %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>{% block jumbo_title %}{% endblock %}</h1>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="{% block nav_index %}{% endblock %}"><a href="{% url 'index' %}">ホーム</a></li>
	<li role="presentation" class="{% block nav_make %}{% endblock %}"><a href="{% url 'make' %}">タスク作成</a></li>
      </ul>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
