{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}To do list{% endblock %}

{% block jumbo_title %}Login{% endblock %}

{% block content %}
<!-- ログイン失敗時には、ここでエラーメッセージを表示する -->
{% if form.errors %}
<p>ユーザ名、またはパスワードが違います</p>
{% endif %}

<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <h2>Sign in</h2>
  
  <hr />
  
  <div class="form-group">
    <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label }}</label>
    {% render_field form.username class="form-control" placeholder=form.username.label %}
  </div>
  <div class="form-group">
    <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
    {% render_field form.password class="form-control" placeholder=form.password.label %}
  </div>
  
  <button type="submit" class="btn btn-default" value="Sign in">
    Sign in
  </button>
  {% if next %}
  <input type="hidden" name="next" value={{ next }} />
  {% endif %}
</form>
{% endblock %}
