{% extends "base.html" %}
{% load staticfiles %}

{% block title %}To do list{% endblock %}

{% block jumbo_title %}Make Task{% endblock %}

{% block nav_make %}active{% endblock %}

{% block content %}
{% if b_error == True %}
<div class="alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">×</span>
  </button>
  <strong>タスク入力において不正な入力がありました</strong><br>
  {{ message }}
</div>
{% endif %}

<form class="form-horizontal" role="form" action="{% url 'create' %}" method = "post">
  {% csrf_token %}
  {{form.non_field_errors}}
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-9">
      {{form.title}}
    </div>
    
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Content</label>
    <div class="col-sm-9">
      {{form.text}}
    </div>
  </div>

  <div class="form-group">
    {{form.finish_at.errors}}
    <label class="col-sm-2 control-label">Deadline</label>
    <div class="col-sm-8">
      {{form.finish_at}}
    </div>
    <div class="col-sm-1">
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>

  <div class=”row”>
    <div class="col-sm-offset-5 col-sm-6 col-xs-offset-4">
      <button type="submit" class="btn btn-success" value="Submit" style="margin-top:50px">submit</button>
    </div>
  </div>
</form>

{% endblock %}

