{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}To do list{% endblock %}

{% block nav_signin %}active{% endblock %}

{% block jumbo_title %}Sign in{% endblock %}

{% block content %}
<!-- ログイン失敗時には、ここでエラーメッセージを表示する -->
{% if form.errors %}
<p>ユーザ名、またはパスワードが違います</p>
{% endif %}

<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <hr />

  <div class="col-sm-offset-3 col-sm-7">
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label }}</label>
      {% render_field form.username class="form-control" placeholder=form.username.label %}
    </div>
  </div>

  <div class="col-sm-offset-3 col-sm-7">
    <div class="form-group">
      <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
      {% render_field form.password class="form-control" placeholder=form.password.label %}
  </div>
  </div>
  
  <div class="col-sm-offset-6 col-sm-4 col-xs-offset-4">
  <button type="submit" class="btn btn-success" value="Sign in" style="margin-top:50px">
    Sign in
  </button>
  </div>
  {% if next %}
  <input type="hidden" name="next" value={{ next }} />
  {% endif %}
</form>
{% endblock %}
